body{
    background-color: #000;
    padding:0;
    margin: 0;
}
#myLogo{
    width:150px;
    height:50px;
    border-radius: 20px;
}
.apllemax{
    width:100px;
    margin-top: 30px;
}
.apllemax2{
    width:150px;
}
.dealofweak{
    width:100px;
}
.imgcard{
    height:420px;
}
.cardshop{
    width:200px;
    height:200px;
}

.card.cardshop{
 
        transition: all 0.4s ease-in-out 0.2s;
        opacity: 0;
    
}
.card.card-body{
    background-color: rgba(0,0,0,0.8);
	opacity: 0;
	transform: scale(0) rotate(-180deg);
	transition: all 0.4s ease-in;
    border-radius: 0px;
}
.card-body h2{
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
	transition: all 0.5s ease-in-out;
}
.card-body p{
    opacity: 0;
	transition: all 0.5s ease-in-out;
}
.card.card-body{
    opacity: 0; 
	transform: scale(1) rotate(0deg);
	transition-delay: 0.2s;
}

.cardshop:hover img 	  { 
	transform: scale(0); 
    opacity: 1;
	transition-delay: 0s;
}	

.card:hover h2,
.card:hover p
{
    opacity: 1;
    transition-delay: 0.5s;
}

.view-fourth img{
    width:200px;
}

.view-fourth img { 
	transition: all 0.4s ease-in-out 0.2s;
    opacity: 1;
}
.view-fourth .mask { 
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	transform: scale(0) rotate(-180deg);
	transition: all 0.4s ease-in;
    border-radius: 0px;
}
.view-fourth h2{
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
	transition: all 0.5s ease-in-out;
}
.view-fourth p { 
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.view-fourth a.info { 
    opacity: 0;
	transition: all 0.5s ease-in-out;
} 


.view-fourth:hover .mask { 
	opacity: 1; 
	transform: scale(1) rotate(0deg);
	transition-delay: 0.2s;
}								  
.view-fourth:hover img 	  { 
	transform: scale(0); 
    opacity: 0;
	transition-delay: 0s;
}						
.view-fourth:hover h2,
.view-fourth:hover p,
.view-fourth:hover a.info{
    opacity: 1;
    transition-delay: 0.5s;
}
#galaxywatch{
    height:275px;
}

.rightside{
    margin-top: 100px;
}
.oFFice{
    height:500px;
}
.list1 ul li {
text-decoration: none;
list-style: none;
line-height: 50px;
}

 a{
    text-decoration: none;
    color:rgb(167, 165, 165);

}
a:hover{
    text-decoration: none;
    color:white;

}

/* About US*/
.sect2{
    background-image: url("aboutlavender.png");
    background-repeat: no-repeat;
    height:400px;
    background-size: cover;
}

.boxes{
    background-color: rgb(238, 236, 236);
}

.box{
    max-width: 30em;
    height: 30em;
    padding: 1em;
    margin: auto;
    border: 0.075em solid #fff;
    background-color: #fff;
    overflow: auto;
    direction: ltr;
    text-align: left
}
.placholder{
    width:700px;
    height:400px;
    margin-left:250px;
    margin-top: 25px;

}

.advertising{
    width:500px;
    cursor: pointer;
    
}
/**** contact Us */
.section2{
    background-image: url("contact-us.png");
    background-repeat: no-repeat;
    height:400px;
    background-size: cover;
}
/****planandprice*/
.secondsec{
    background-image: url("banner03.jpg");
    background-repeat: no-repeat;
    height:400px;
    background-size:cover;
}
.cd1{
    height:474px;
}
.card-img-top{
    height: 300px;
}

/*phones page*/
.imgiphone{
    width:250px;
    height: 300px;
    padding-left: 30px;


}
.box1{
    background-color: white;
}

.box1:hover{
    background-color: transparent;
    
}
.imgiphone:hover{
    background-color: transparent;


}












